<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>PIZZERIA</display-name>
	<listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
 
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.pizzeria.service</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.pizzeria.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DashboardServlet</display-name>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.pizzeria.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdatePizzaServlet</display-name>
		<servlet-name>UpdatePizzaServlet</servlet-name>
		<servlet-class>com.pizzeria.controller.UpdatePizzaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePizzaServlet</servlet-name>
		<url-pattern>/UpdatePizzaServlet</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>Database MySQL per l'applicazione Pizzeria</description>
		<res-ref-name>jdbc/MyLocalDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>